body{
    background-color: #323437;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    flex-direction: column;
}
footer{
    display: none;
}