/* y this? https://wiki.csswg.org/ideas/mistakes */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #171d1f;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}


footer {
  display: none;
}

button {
  background-color: transparent;
  padding: 10px;
  border: solid transparent;
  color: rgb(127, 106, 106);
  border-radius: 10px;
  background-color: #2c2e31;
}

button:hover {
  color: #a8b9e4;
}

.selected {
  color: #a8b9e4;
}

/* button.selected {
  border: 1px solid #a8b9e4;
} */

.dimmedText {
  color: white;
  opacity: 80%;
}

button:active {
  border: 1px solid #a8b9e4;
  /* -webkit-box-shadow: inset 0px 0px 5px #a8b9e4; */
  /* -moz-box-shadow: inset 0px 0px 5px #a8b9e4; */
  /* box-shadow: inset 0px 0px 5px #a8b9e4; */
  /* outline: none; */
}