/* y this? https://wiki.csswg.org/ideas/mistakes */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --background-color: #171d1f;
  --primary-color: #2c2e31;
  --secondary-color: rgb(127, 106, 106);
  --text-color: white;
  --accent-color: #a8b9e4;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  --padding-small: 6px;
  --padding-medium: 11px;

  /* Typography */
  --font-family-main: 'Roboto Mono', 'Courier New', monospace;

  /* --font-family-main: 'Arial', sans-serif; */
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;

  /* Other common values */
  --border-radius: 8px;
  /* --button-padding: 11px; */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

* {
  font-family: var(--font-family-main);
  font-weight: 400;
}

html {
  min-height: 100%;
  min-width: 100%;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  min-height: 100dvh;
  min-width: 100dvw;
}

div,
span {
  color: var(--text-color);
}

button {
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  /* filter: drop-shadow(0px 1px 1px #000000); */
}

input {
  border: solid transparent;
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.selected {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

button:hover:not(.selected) {
  color: var(--accent-color);
}

.selected-text {
  color: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.bubble {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: var(--padding-medium);
}
